body {
margin:0;
font-family: "Nonexistent-Font", monospace;
background-color: #ADD8E6;}

.topnav {
  overflow: hidden;
  background-color: #296E85;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #1E5162;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #43A6C6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #338BA8;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
body, header{
    margin: 0;
    padding: 0;
    font-family: "Nonexistent-Font", monospace;;
}



header {
    background-color: #086d50;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 50px;
    max-width: 800px;
    margin: 0 auto;
}


.text-area p {
    color: #D4F1F4;
    font-size: 18px;
}
.text-area h1 { 
 color: #ADD8E6;
font-size: 50px;
	
}

.image-area img {
    width: 100%;
    max-width: 100%;
    border: 3px solid white; /* 50% border means 50% of the image width, but here we set a fixed border */
    height: auto;
    border-radius: 50%;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; /* Stack the text and image vertically */
    }
    .text-area, .image-area {
        margin-bottom: 10px;
    }
    .image-area img {
        max-width: 60%; /* Smaller image on mobile */
        margin: 0 auto; /* Centering the image */
    }
}


/* styles.css */
.scul {
  padding: 25px 50px;
  margin: 0;
 
  background-color: #ADD8E6;
}
.scul h2 {
  text-align: center;
  font-size: 35px;
	color: #050A30;
}
.scul p{
  margin: 15px 40px;
  text-align: center;
	color: #050A30;
	font-family: "EB Garamond";
	font-size: 20px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns in larger screens */
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 5px; /* Padding inside the card */
    overflow: hidden; /* Ensures no content spills out */
}

.card img {
    width: 100%; /* Full width of the card */
    height: 200px; /* Fixed height for consistency */
    object-fit: cover; /* Ensures the image covers the area, cropping as necessary */
}
.card h3 {
	text-align: center;
	color: #050A30;
}
.card h3, .card p {
    margin: 5px; /* Spacing for text content */
}
.card p {
	 color: #050A30;
	font-family: "EB Garamond";
}
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns in medium screens */
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column in small screens */
    }
}

.slive {
  padding: 25px 25px;
  margin: 0;
  background-color: #67B7D1;
 
}
.slive h2 {
  text-align: center;
  font-size: 35px;
	color: #050A30;
  
}
.slive p{
  margin: 15px 40px;
  text-align: center;
	  color: #050A30;
	font-family: "EB Garamond";
	font-size: 20px;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Maximum size of the slider */
  padding-top: 50px;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none; /* Hide all slides initially */
    width: 100%;
    height: 400px; /* Fixed height for all slides */
}

.slide.active {
    display: block; /* Show the active slide */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the slide area */
}

/* Navigation Controls */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; /* Prevent text selection */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.footer {
    background-color:  #296E85;
    color: white;
    padding: 20px;
    text-align: center;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .footer-section {
    flex: 1 1 200px; /* Flex item can grow, can shrink, and basis is 200px */
    margin: 10px;
    min-width: 150px; /* Ensures that the content has a readable min-width */
  }

  @media (max-width: 600px) {
    .footer {
      text-align: center;
    }

    .footer-container {
      flex-direction: column;
      align-items: center;
    }